{% extends '::base.html.twig' %}
{% block body %}

<h1>Crear Tipo de Proceso</h1>

<form action="{{ path('tipoproceso') }}" method="post">
    <div class="form-actions">
        <th>Tipo de Proceso:</th>
        <br>{{form_widget(form.tipo)}}</br>
    <a href="{{ path('tipoproceso') }}" class="btn btn-mini"> Cancelar        </a>
{{ form_rest(form) }}

   

    </div>
</form>

{% endblock %}
