{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Tipo de Proceso</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Tipo Proceso:</th>
                <tr> 
                <td>{{ entity.tipo }}</td>
                </tr>
            </tr>
        </tbody>
    </table>

        <div class="form-actions">
        <a href="{{ path('tipoproceso') }}" class="btn btn-primary btn-mini">
            Aceptar        
        </a>
        <a href="{{ path('tipoproceso_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-mini">
            Editar
        </a>
</div>
{% endblock %}
