{% extends '::base.html.twig' %}
{% block body -%}
<div class="page-header">
    	<h1>Viaje</h1>     <a href="{{ path('viaje_new') }}" class="btn btn-primary btn-mini"> <i class="icon-plus icon-white"></i>
                Crear Nuevo
            </a>
</div>
<table id="list" class="table table-bordered"></table>
<div id="pager"></div>
{% endblock %}
{% block javascripts -%}
<script>
    $(document).ready(function(){


        var datePick={dataInit:function(el){$(el).daterangepicker({format:'YYYY-MM-DD',separator:'|',constrainInput: false, locale: { applyLabel: 'Aplicar',showWeekNumbers:true,parentEl:"#dosDiv",cancelLabel: 'Resetear',fromLabel: 'Desde',toLabel: 'Hasta',customRangeLabel: 'Personalizado', daysOfWeek: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie','Sab'],monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],firstDay: 1}});$(el).on('apply.daterangepicker', function(ev, picker) {$("#list")[0].triggerToolbar();$("#list").trigger("reloadGrid", [{ page: 1}]);});}};


        $('#list').jqGrid({
                url:'{{path('viaje_list')}}',
                datatype: "json",
                colNames: ['id' ,'Fecha','Origen','Destino','Compra','Venta' ,'Peso' ,'Cant.','Conductor','Cliente','Vehículo','Proceso','Acciones'],
                jsonReader : {
                      root: "rows",
                      page: "page",
                      total: "total",
                      records: "records",
                      repeatitems: false,
                      //cell: "row",
                      id: "id"
                      },
                colModel: [
                    { name: 'id', index: 'id',jsonmap:"id",key: true, width: 35, sorttype: "int", search:true,hidden:true },
                    { name: 'fecha', index: 'fecha', width: 60,searchoptions:datePick,formatter:dateFmt},
                    { name: 'origen', index: 'origen', width: 100 },
                    { name: 'destino', index: 'destino', width: 100 },
                    { name: 'valorCompra', index: 'compra', width: 100 },
                    { name: 'valorVenta', index: 'venta', width: 100 },

                    { name: 'peso', index: 'peso', width: 50, align:'right',},
                    { name: 'cantidad', index: 'cantidad', width: 50, align:'right' },
                    { name: 'conductor', index: 'conductor', width: 50, align:'left'},
                    { name: 'cliente', index: 'cliente', width: 100, align:'left'},
                    { name: 'vehiculo', index: 'vehiculo', width: 100, align:'left'},
                    { name: 'tipoProceso', index: 'tipoProceso', width: 100, align:'left'},
                    { name: 'acciones', index: 'id', width: 100, align:'center',formatter:botonera}

                    ],
                pager: '#pager',
                rowNum: 20,

                rowList: [20,30, 50, 70, 100],
                sortname: 'id',
                sortorder: 'desc',
                viewrecords: true,
                gridview:true,
                autowidth: true,
                height: '100%',
                width:'90%',
                });
                function dateFmt(cellvalue, options, rowObject){
                    str = "";

                    if(null!==cellvalue){
                        return cellvalue.date;
                    }
                }
                function botonera(cellvalue, options, rowObject){
                    var html="<a href='javascript:void(0);' alt='Editar' rate_id="+rowObject.id+"><i class='fa fa-pencil'><\/i><\/a>";
                    return html;
                }
            $(document).ready(function(){
                $("#list").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false, defaultSearch:'cn'});
            });

    });
</script>
{% endblock %}
