{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear Viaje</h1>

    {{ form(form) }}

        <div class="form-actions">
        <a href="{{ path('viaje') }}" class="btn btn-mini">
            Cancelar        </a>
{% endblock %}
{%block javascripts%}
<script>
    $(document).ready(function(){
        $(".datePicker").datepicker({ language:'es'});
    });
</script>
{%endblock%}
